**/.DS_Store
**/.vscode
**/.idea

**/node_modules
**/dist

**/.next/
**/out/

**/database_volume
**/elasticsearch_volume

**/data/wiktionary
**/assets

**/ingestion/src/dictionary
**/README.md
**/LICENSE.md
