**/.DS_Store
**/.idea

**/node_modules
**/dist/**

**/.next
**/out

**/database_volume

**/data
**/assets

**/ingestion/src/dictionary
**/README.md
**/LICENSE.md

**/migration
.next-env.d.ts
**/schema.graphql