**/.DS_Store
**/.idea

**/node_modules
**/dist
dist/
server/dist

**/.next
**/out

**/database_volume

**/data
**/assets

**/ingestion/src/dictionary
**/README.md
**/LICENSE.md

web/src/graphql/generated.ts
**/migration