**/.DS_Store
**/.idea

**/node_modules
**/dist

**/.next
**/out

**/database_volume
**/elasticsearch_volume

**/data/wiktionary
assets
infra

**/package.json

server/**/schema.graphql
**/migration
**/storybook-static
